* {
    margin: 0;
    padding: 0;
}
.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.sub-heading {
    font-family:  "Montserrat", sans-serif;
    font-weight: 400;
}
.text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}